{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        {% if page == 'login' %}
        <div class="login">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <label>Username</label>
                    <input type="text" name="username" placeholder="Username">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="Password">
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Log In</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Need an account? <a class="ml-2" href="{% url 'register' %}">Register</a>
                </small>
            </div>
        </div>
        {% else %}
        <div class="register">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Join Today</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Register</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Already have an account? <a class="ml-2" href="{url 'login'}">login</a>
                </small>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock content %}